/* css reset */
, ::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
/* actual css code */

/* top nav */
.top-nav{
  background-color: black;
  border-bottom: 5px solid rgb(41, 95, 76);
}
.top-nav li {
    display: inline;
}
a.web-links {
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
  padding: 2.5px;
  font-weight: 4px;
}
a.web-links :visited{
  color: #cccccc;
}
a.web-links:hover{
  background-color: rgb(58, 58, 58);
}
/* body of webpage */
.container {
width: 90vw;
margin: auto;
}
svg{
  padding: 30px 30px 30px 15px;
border-right: solid black 1px;
}
.bottom-nav{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 35px;
  font-weight: bold;
  margin-left: -20px;
  letter-spacing: 2px;
}
.bottom-nav li{
  display: inline;
}
li:hover{
  color: rgb(190, 45, 45);
}
.header-mid{
  display: flex;
justify-content: left;
}