/* css reset */
, ::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
/* actual css code */
.top-nav{
  background-color: black;
  border-bottom: 5px solid rgb(55, 95, 180);
}
.top-nav li {
    display: inline;
}
a{
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  padding: 2.5px;
  font-weight: 4px;
}
a:visited{
  color: #cccccc;
}
a:hover{
  background-color: rgb(58, 58, 58);
}
.container {
width: 90vw;
}
