/* css reset */
, ::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }

  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
/* actual css code */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700;1,900&display=swap');
/* top nav */
.top-nav{
  background-color: black;
  border-bottom: 5px solid rgb(41, 95, 76);
}
.top-nav li {
    display: inline;
}
a.web-links {
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
  padding: 2.5px;
  font-weight: 4px;
  
}
a.web-links :visited{
  color: #cccccc;
}
a.web-links:hover{
  background-color: rgb(58, 58, 58);
}
/* bottom nav */
.header-mid{
  background-color: rgb(221, 221, 227);
  justify-content: center;
  padding-left: 20px;
}
 .logo{
  padding: 30px 30px 30px 15px;
border-right: solid black 1px;
}
.bottom-nav{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 35px;
  font-weight: bold;
  margin-left: -20px;
  letter-spacing: 1px;
}
.bottom-nav li{
  display: inline;
  padding-right: 10px;
}
li:hover{
  color: rgb(190, 45, 45);
}

.header-mid{
  display: flex;
  justify-content: left;
}
/* container */
.container {
  width: 95vw;
  margin: auto;
  padding: 20px;
  align-items: center;
  display: flex;
  }
  .articles{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
  }
  .headline-article h1{
    padding-top: 10px;
    font-family: Helvetica;
    line-height: 35px;
    letter-spacing: -1px;
  }
  .headline-article h3{
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: Helvetica;
  }
    .headline-article img{
    width: 900px; 
  }
  .headline-article p{
    padding-top: 5px;
  }
  .bottom-articles{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 30px;
  }
  .bottom-articles img{
    width: 280px;
    padding-right: 30px;
  }
  .bottom-1 h3{
    margin-top: 15px;
    width: 90%;
  }
  .bottom-2 h3{
    margin-top: 15px;
    width: 90%;
  }.bottom-3 h3{
    margin-top: 15px;
    width: 90%;
  }

  /*latest section on the right*/
.latest{
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.latest h2{
  padding-bottom: 10px;
  font-style: italic;
}
.latest-1, .latest-2, .latest-3, .latest-4{
  padding-bottom: 20px;
}